extends _layoutEmail

block content
  h2 Password Reset
  p Hello.
  p You have requested a password reset. You can reset your Voting App password by clicking the button below:
  +button(resetURL, 'Reset Password')
  br
  p If the above button is not working, please visit&nbsp;
    |
    a(href=resetURL) this link
  br
  p If you didn't request a password reset, feel free to delete this email.
  br
  p All the best,
  p Voting App Support
