include mixins/_flash

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/dist/style.css")
    link(rel="shortcut icon", type="image/png", href="/images/icons/favicon.png")
    script(defer, src="https://use.fontawesome.com/releases/v5.0.10/js/all.js", integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+", crossorigin="anonymous")
    title= `${title} | ${siteName}`
  body
    block header
      nav.navbar.is-light
        .navbar-brand
          a.navbar-item(href="/")
            img(src="/images/icons/logo.png", alt="Voting App")
          .navbar-burger.burger(data-target="navMenu")
            span
            span
            span
        #navMenu.navbar-menu
          .navbar-start
            a.navbar-item(href="/")
              span Home
          .navbar-end
            if user
              .navbar-item.has-dropdown.is-hoverable
                a.navbar-link(href="/profile")
                  | #{user.name}
                .navbar-dropdown.is-boxed
                  a.navbar-item(href="/poll/new")
                    | New Poll
                  hr.navbar-divider
                  a.navbar-item(href="/profile")
                    | User Profile
                  a.navbar-item(href="/poll/user")
                    | User Polls
                  hr.navbar-divider
                  a.navbar-item(href="/poll/all")
                    | All Polls
              .navbar-item
                .field
                  p.control
                    form(action="/logout", method="POST")
                      input(type="hidden", name="_csrf", value=csrfToken)
                      button.button.is-primary
                        span.icon
                          i.fas.fa-sign-out-alt(aria-hidden="true")
                        span Logout
            else
              a.navbar-item(href="/register")
                span Register
              .navbar-item
                .field
                  p.control
                    a.button.is-primary(href="/login")
                      span.icon
                        i.fas.fa-sign-in-alt(aria-hidden="true")
                      span Login
    - const categories = Object.keys(flashes);
    if currentPath !== '/' && categories.length
      block messages
        .section
          +flash(categories)
    main
      block content
        p This should not be visible!
    block scripts
      script(src="/dist/client.js")
