extends _layout

block content
  section.hero.is-primary.is-bold
    .hero-body
      .container
        h1.title.has-text-centered.has-text-grey-darker.is-size-1.has-text-weight-light
          | Voting App
        h2.subtitle.has-text-centered.has-text-grey-darker.is-size-4.has-text-weight-light
          | Simple polls for everyone
        p.has-text-centered
          a.button.is-primary.is-large.is-inverted(href="/register")
            span.has-text-primary Register
