doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/dist/style.css")
    link(rel="shortcut icon", type="image/png", href="/images/icons/doughnut.png")
    title= `${title} | ${siteName}`
  body
    .content
      block content
        p This is the default!
