extends _layout

block content
  .container
    h1.title.has-text-centered Login
    .columns
      .column.is-half.is-offset-one-quarter.is-clearfix
        form(action="/login", method="post")
          - const { values } = form;
          input(type="hidden", name="_csrf", value=csrfToken)
          .field
            label.label Email
              .control.has-icons-left
                input.input(type="email", placeholder="Email", name="email", value=values && values.email, required)
                span.icon.is-small.is-left
                  i.fas.fa-at
          .field
            label.label Password
              .control.has-icons-left
                input.input(type="password", placeholder="Password", name="password", required)
                span.icon.is-small.is-left
                  i.fas.fa-key
          .field.is-grouped.is-pulled-right
            .control
              .button.is-text(href="/register") Register
            .control
              input.button.is-primary(type="submit", value="Login")
