extends _layout

include mixins/_voteCard

block content
  .section
    .container
      h1.title.has-text-centered All Polls
      .section
        .columns
          .column.is-10.is-offset-1
            +voteCard(polls)
