extends _layout

block content
  .section
    .container
      .columns
        .column.is-8.is-offset-2.content
          h1.title.has-text-centered Voting App Privacy Policy
          p.has-text-centered This Application collects some Personal Data from its Users.

          h2.title.has-text-justified Personal Data collected for the following purposes and using the following services:

          h3.title Interaction with external social networks and platforms
          p
            span.fab.fa-twitter
            |
            b
            |
            | Twitter Tweet button
          p Personal Data:
            em
              |
              | Cookies and Usage Data

          h3.title Registration and authentication

          p
            span.fab.fa-twitter(aria-hidden='true')
            |
            b
            |
            | Twitter OAuth
          p Personal Data:
            em
              |
              | various types of Data as specified in the privacy policy of the service

          p
            span.fas.fa-key(aria-hidden='true')
            |
            b
            |
            | Direct registration
          p Personal Data:
            |
            em
              |
              | email address, first name, last name and password

          hr

          h2.title.has-text-centered Contact information
          h3.title.has-text-centered.is-5 Owner and Data Controller
          p.has-text-centered
            span.fas.fa-user(aria-hidden='true')
            |
            | Anton Zdanov - Tallinn - Estonia
          p.has-text-centered
            b Owner contact email:
            |
            | azdanov@pm.me