extends _layout

block content
  .container
    h1.title.has-text-centered Register
    .columns
      .column.is-half.is-offset-one-quarter.is-clearfix
        form(action="/register", method="post")
          .field
            label.label Name
              .control.has-icons-left
                input.input(type="text", placeholder="Full Name", name="name", required)
                span.icon.is-small.is-left
                  i.fas.fa-user
          .field
            label.label Email
              .control.has-icons-left
                input.input(type="email", placeholder="Email", name="email", required)
                span.icon.is-small.is-left
                  i.fas.fa-at
          .field
            label.label Password
              .control.has-icons-left
                input.input(type="password", placeholder="Password", name="password", minlength="5", required)
                span.icon.is-small.is-left
                  i.fas.fa-key
          .field
            label.label Repeat password
              .control.has-icons-left
                input.input(type="password", placeholder="Repeat password", name="passwordRepeat", minlength="5", required)
                span.icon.is-small.is-left
                  i.fas.fa-key
          .field.is-grouped.is-pulled-right
            .control
              button.button.is-text Cancel
            .control
              button.button.is-primary Register
