@import '../../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../../node_modules/bulma/sass/utilities/functions';

$primary: #fddbb4;
$primary-invert: #925142;
$white-ter: #fff0e0;
$green: #7cb342;
$red: #ef5350;
$cyan: #4fc3f7;
$footer-background-color: darken($white-ter, 5);
$tabs-border-bottom-color: rgba(#4a4a4a, 0.2);
$pagination-current-background-color: $primary-invert;
$pagination-current-border-color: $primary-invert;

@import '../../../node_modules/bulma/bulma';
