@import '../../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../../node_modules/bulma/sass/utilities/functions';

$primary: #fddbb4;
$primary-invert: #925142;
$white-ter: #fafafa;
$footer-background-color: #fafafa;
$tabs-border-bottom-color: $footer-background-color;

@import '../../../node_modules/bulma/bulma';
