include _voteCard

mixin feed(polls, count, title)
  .section
    .container
      h1.title.has-text-centered= title
      p.subtitle.has-text-centered= `Total: ${count}`
      .section
        .columns
          .column.is-10.is-offset-1
            if polls.length
              +voteCard(polls)
            else
              p.has-text-centered No polls are currently available
    .container
      .columns.is-centered
        .column.is-narrow
          include ../_paginate
